@import "tailwindcss";
@plugin "@tailwindcss/typography";


@theme inline {
  --font-sans: var(--font-geist);
  --font-heading: var(--font-sans);

  --color-background: white;
  --color-foreground: var(--color-slate-950);
  --color-border: var(--color-slate-200);
  --color-ring: var(--color-slate-400);
}

:root {
  --color-website-primary: #ffff;
  --color-website-secondary: #6c6c6c;
  --color-website-orange: #ff8d28;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
